/* Common CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Container{
    max-width: 1400px;
    margin: auto;
}
/* home page start */
/* Background Img */
.header-section{
    background: url("image/Banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* header */
.header{
    display: flex;
    padding: 25px 0;

}
/* Logo start */
.logo{
    width: 30%;
}
.logo img{
    height: 70px;
}
/* logo end */
/* nav start */
.nav-section{
    width: 60%;
    display: flex;
    justify-content: end;
    padding: 10px 5px 50px;
}
.network-logo{
    margin: auto 5px;
}
.network-logo img{
    width: 22px;
    padding: 8px;
    border: none;
    border-radius: 50%;
    background: white;
}
.nav{
}
.nav ul{
    display: flex;
    background: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 0 15px;
}
.nav ul li{
    list-style: none;
    padding: 10px 15px;
    text-align: center;
}
.nav ul li a{
    color: rgb(1, 101, 1);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    padding: 5px;    
}
.nav ul li:active{
    color: black;
}
.sign{
    font-size: 20px;
    width: 10%;
    display: flex;
    padding: 20px 5px;
}
.sing-In a{
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
    }
/* nav end  */
/* contant start */
.col{
    width: 50%;
}
.col h2{
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
}
.col p{
    font-size: 20px;
    color: white;
    padding: 10px 0;
}
.col img{
    padding: 25px 15px;
}
.contant{
    padding:50px 0 160px;
}
/* contant end  */
/* home page end */
/* feature section start */
.features{
    padding: 50px 0;
}
.features-heading{
    text-align: center;
}
.features-heading h2{
    font-size: 50px;
    color: #34454C;;
}
.features-heading h2 span{
    color: #192226;
}
.features-card{
    display: flex;
    text-align: center;
    padding: 50px 0 0;
    margin: 0 50px;
    justify-content: center;

}
.card{
    margin: 10px 40px;
    padding: 5px 35px;
}
.bg-green{
    margin: auto;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    outline: 2.5px solid black;
    border: 5px solid white;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    font-size: 40px; 
}
.card h3{
    font-size: 25px;
    margin: 20px;
}
.card p{
    font-size: 20px;
    margin: 0;
}

.features-cont{
    padding: 50px;
}
.features-cont img{
    display: block;
    margin: auto;
}
.card:hover{
    transition: 0.5s;
    transform: translate(0,-50px);
}
.card:hover h3{
    color: green;
}
.card:hover .bg-green{
    color: white;
    background: green;
    outline-color: green;
}
/* End Freatures */
/* Start items */
.Gojek-service-sec{
    background: url("image/UseGojek.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}
.gojek-service{
    display: flex;
    padding: 100px 0;
    position: relative;
}
.col-item{
    width: 50%;

}
.go-itmes-head{
    text-align: center;
}
.items{
    display: flex;
    justify-content: center;
}
.icon-sec{
    padding: 15px;
    text-align: center;
}
.icon-sec h4{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin: auto;
    padding-top: 5px;
}
.icon{
    padding: 2.5px;
    height: 75px;
    width: 75px;
    margin: auto;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon svg:not(:host).svg-inline--fa, svg:not(:root).svg-inline--fa {
    font-size: 40px;
}
.go-itmes-head h2{
    font-size: 40px;
    color: white;
    font-weight: 500;
}
.go-itmes-head span{
    font-size: 35px;
    font-weight: 400;
}
.phn-img{
    display: flex;
    margin: auto;
    
}
.gojek-service img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* End items */
/* Install Start */
.install-header h2{
    color: #192226;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}
.install-header h2 span{
    color: #34454C;
}
.install-content{
    display: flex;
    padding: 50px 100px;
}
.install-col{
    width: 50%;
    padding: 0 20px;
}
.head-cont{
    text-align: left;
}
.head-cont h3{
    font-size: 30px;
    font-weight: 400;
    color: #3c4f57;
    margin: 0;
    padding: 10px 0;
    font-weight: 600;
}
.head-cont p{
    margin: 0;
    font-size: 20px;
    color: #45565e;
    padding: 10px 0;
}
.settings{
    padding: 10px 0;
}
.set-col{
    padding: 5px 0;
    display: flex;
}
.set-con{
    padding: 5px 25px 5px 5px;
}
.set-con h3{
    margin: 0;
    font-size: 20px;
    color: #34454C;
}
.set-con p{
    margin: 0;
    font-size: 17px;
    color: #3b4b51;

}
.set-col-heading img{
    width: 30px;
    padding: 5px 5px 5px 0;
}
/* Install End */
/* Start Our Services  */
.our-services-sec{
    padding: 250px 0;
    background: url("Image/serviceImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.our-services{
    position: relative;
}
.our-service-heading{
    text-align: center;
}
.our-service-heading h2{
    margin: 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
}
.our-service-heading p{
    margin-top: 30px;
    font-size: 18px;
    padding: 5px 250px;
    color: white;
}
.our-services-cards{
    display: flex;
    position: absolute;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);
}
.service-card{
    text-align: center;
    margin: 25px;
    border-radius: 5px;
    background: white;
    width: 335px;
    height: 260px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px #000;
    align-items: center;
}
.service-card p{
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    color: #192226;
}
.service-card svg:not(:root).svg-inline--fa {
    font-size: 70px;
    color: rgb(97, 198, 97);
}
/* End Our Services  */
/* Start Footer */
.footer-sec{
    margin: 250px 0 0;
    background: #f7f7f7;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 80px;
}
.footer-cont{
    width: 25%;
    padding: 10px;
}
.footer-cont-header h2{
    color: #34454C;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px 0;
}
.footer-social-link ul{
    margin: 0;
    padding: 0;
}
.footer-social-link ul li{
    list-style: none;
    padding: 7px 0;
}
.footer-social-link ul li div{
    display: flex;
}
.footer-social-link ul li a{
    text-decoration: none;
    color: #7e888a;
    font-size: 18px;
    padding: 0 5px;
}
.footer-social-link ul li a:hover{
    color: rgb(39, 216, 45);
}
.footer-social-link ul li p{
    text-decoration: none;
    color: #7e888a;
    font-size: 18px;
    padding: 0 5px;
    margin: 0;
}
.footer-social-link ul li div svg:not(:root).svg-inline--fa {
    font-size: 20px;
    padding-right: 5px;
    color: rgb(95, 206, 95);
}

.foot-bar{
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}
.foot-bar strong{
    font-size: 20px;
}
.foot-bar a{
    text-decoration: none;
    color: rgb(95, 206, 95);
    font-size: 20px;
}
/* End Footer */