/* Common CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    padding: 0 50px;
}

/* home page start */
/* Background Img */
.header-section {
    background: url("Image/Bannerinheader.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* header */
.header {
    display: flex;
    padding: 25px 0px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header .toggle-btn {
    display: none;
}

.header .toggle-btn .fa-solid {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
}

/* Logo start */
.logo img {
    height: 70px;
}

/* logo end */
/* nav start */
.nav-section {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    right: 0;
    position: absolute;
    font-size: 20px;
}

.network-logo {
    margin-right: 5px;
    padding: 6px 4px;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 29px;
    height: 28px;
}

.network-logo .fa-solid {
    font-size: 13px;
}

.network-logo:hover {
    color: #fff;
    border: 1px solid #fff;
    background: rgb(1, 117, 1);
    padding: 2px 4px;
}

.navbar {
    display: flex;
    background: white;
    border: none;
    border-radius: 25px;
    text-align: center;
    padding: 0 15px;
}

.navbar li {
    list-style: none;
    padding: 10px 15px;
    text-align: center;
}

.navbar li a {
    color: rgb(1, 101, 1);
    text-align: center;
    text-decoration: none;
    padding: 5px;
}

.navbar li a:hover {
    color: black;
}

.login a {
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
}

/* dropdown menu start */
.dropdown-menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background: #009b3441;
    backdrop-filter: blur(30px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown-menu.open {
    height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dropdown-menu li {
    padding: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.dropdown-menu li a {
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    font-size: 17px;
}

.dropdown-menu li a:active,
.dropdown-menu li a:hover {
    color: #fff;
}

.dropdown-menu #login {
    width: 150px;
    background: rgba(106, 255, 0, 0.888);
    border-radius: 8px;
    margin: 5px auto;
}

/* dropdown menu end */
/* nav end  */
/* contant start */
.col {
    width: 50%;
}

.col h2 {
    font-size: 60px;
    color: white;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 0;
}

.col p {
    font-size: 20px;
    color: white;
    padding: 10px 0;
}

.col img {
    padding: 25px 15px;
}

.contant {
    padding: 3rem 0rem 10rem;
}

/* contant end  */
/* home page end */
/* feature section start */
.features {
    padding: 50px 0;
}

.features-heading {
    text-align: center;
}

.features-heading h2 {
    font-size: 51px;
    color: #34454C;
    ;
}

.features-heading h2 span {
    color: #192226;
}

.features-card {
    display: flex;
    text-align: center;
    padding: 50px 0 0;
    margin: 0 50px;
    justify-content: center;

}

.card {
    margin: 10px 40px;
    padding: 5px 35px;
}

.bg-green {
    margin: auto;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    outline: 2.5px solid black;
    border: 5px solid white;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-green .fas {
    font-size: 40px;
}

.card h3 {
    font-size: 25px;
    margin: 20px;
}

.card p {
    font-size: 20px;
    margin: 0;
}

.features-cont {
    padding: 50px;
}

.features-cont img {
    display: block;
    margin: auto;
}

.card:hover {
    transition: 0.5s;
    transform: translate(0, -50px);
}

.card:hover h3 {
    color: green;
}

.card:hover .bg-green {
    color: white;
    background: green;
    outline-color: green;
}

/* End Freatures */
/* Start items */
.Gojek-service-sec {
    background: url("Image/UseGojek.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.gojek-service {
    display: flex;
    padding: 100px 0;
    position: relative;
    overflow: hidden;
}

.col-item {
    width: 50%;

}

.go-itmes-head {
    text-align: center;
}

.items {
    display: flex;
    justify-content: center;
}

.icon-sec {
    padding: 15px;
    text-align: center;
}

.icon-sec h4 {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    margin: auto;
    padding-top: 5px;
}

.icon {
    padding: 2.5px;
    height: 75px;
    width: 75px;
    margin: auto;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon .fas,
.icon .fab {
    font-size: 30px;
}

.go-itmes-head h2 {
    font-size: 40px;
    color: white;
    font-weight: 500;
}

.go-itmes-head span {
    font-size: 35px;
    font-weight: 400;
}

.phn-img {
    display: flex;
    margin: auto;

}

.gojek-service img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* End items */
/* Install Start */
.install-header h2 {
    color: #192226;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

.install-header h2 span {
    color: #34454C;
}

.install-content {
    display: flex;
    padding: 50px 100px;
}

.install-col {
    width: 50%;
    padding: 0 20px;
}

.img-div img {
    width: 100%;
}

.head-cont {
    text-align: left;
}

.head-cont h3 {
    font-size: 30px;
    font-weight: 400;
    color: #3c4f57;
    margin: 0;
    padding: 10px 0;
    font-weight: 600;
}

.head-cont p {
    margin: 0;
    font-size: 20px;
    color: #45565e;
    padding: 10px 0;
}

.settings {
    padding: 10px 0;
}

.set-col {
    padding: 5px 0;
    display: flex;
}

.set-con {
    padding: 5px 25px 5px 5px;
}

.set-con h3 {
    margin: 0;
    font-size: 20px;
    color: #34454C;
}

.set-con p {
    margin: 0;
    font-size: 17px;
    color: #3b4b51;

}

.set-col-heading img {
    width: 30px;
    padding: 5px 5px 5px 0;
}

/* Install End */
/* Start Our Services  */
.our-services-sec {
    padding: 250px 0;
    background: url("Image/serviceImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.our-services {
    position: relative;
}

.our-service-heading {
    text-align: center;
}

.our-service-heading h2 {
    margin: 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.our-service-heading p {
    margin-top: 30px;
    font-size: 18px;
    padding: 5px 250px;
    color: white;
}

.our-services-cards {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.service-card {
    text-align: center;
    margin: 25px;
    border-radius: 5px;
    background: white;
    width: 335px;
    height: 260px;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px #000;
    align-items: center;
}

.service-card p {
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    color: #192226;
}

.service-card .fas,
.service-card .fa {
    font-size: 70px;
    color: rgb(97, 198, 97);
}

/* End Our Services  */
/* Start Footer */
.footer-sec {
    margin: 250px 0 0;
    background: #f7f7f7;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 50px 80px;
}

.footer-cont {
    width: 25%;
    padding: 10px;
}

.footer-cont-header h2 {
    color: #34454C;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 30px 0;
}

.footer-social-link ul {
    margin: 0;
    padding: 0;
}

.footer-social-link ul li {
    list-style: none;
    padding: 7px 0;
}

.footer-social-link ul li div {
    display: flex;
}

.footer-social-link ul li a {
    text-decoration: none;
    color: #7e888a;
    font-size: 18px;
    padding: 0 5px;
}

.footer-social-link ul li a:hover {
    color: rgb(39, 216, 45);
}

.footer-social-link ul li p {
    text-decoration: none;
    color: #7e888a;
    font-size: 18px;
    padding: 0 5px;
    margin: 0;
}

.footer-social-link .fas,
.footer-social-link .fa {
    font-size: 20px;
    padding-right: 5px;
    color: rgb(95, 206, 95);
}

.foot-bar {
    padding-top: 25px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}

.foot-bar strong {
    font-size: 20px;
}

.foot-bar a {
    text-decoration: none;
    color: rgb(95, 206, 95);
    font-size: 20px;
}

/* End Footer */

/* Responsive area */
@media only screen and (max-width: 1300px) {
    .contant {
        padding: 2rem 0rem 4rem;
    }
}

@media only screen and (max-width: 1200px) {

    /* header start */
    .logo img {
        height: 65px;
    }

    .nav-section {
        font-size: 18px;
    }

    .navbar li {
        padding: 10px 13px;
    }

    .col h2 {
        font-size: 51px;
    }

    .col p {
        font-size: 18px;
    }

    /* header end */
    /* feature sec start */
    .features-card {
        padding: 50px 0 25px;
    }

    .card {
        margin: 10px 25px;
        padding: 5px 25px;
    }

    .features-cont {
        padding: 25px;
    }

    /* feature sec end */

    /* gojek service start*/
    .go-itmes-head {
        padding-left: 110px;
        font-size: 35px;
    }

    .go-itmes-head h2 span {
        font-size: 32px;
    }

    .items {
        padding: 3px 0px 3px 25px;
    }

    .icon-sec {
        padding: 10px;
    }

    .icon {
        height: 60px;
        width: 60px;
    }

    .icon .fas,
    .icon .fab {
        font-size: 28px;
    }

    .icon-sec h4 {
        font-size: 13px;
    }

    .gojek-service img {
        transform: translate(-50%, -48%);
    }

    /* gojek service end */
    /* install gojek start */
    .install-content {
        padding: 42px 90px;
    }

    .install-col {
        padding: 0px;
    }

    .settings {
        padding: 3px 0;
    }

    .head-cont p {
        font-size: 17px;
        padding: 5px 0;
    }

    .img-div img {
        height: -webkit-fill-available;
    }

    .set-con {
        padding: 5px 25px 0px 5px;
    }

    .set-con h3 {
        font-size: 18px;
    }

    .set-col-heading img {
        width: 26px;
    }

    /* install gojek end */
    /* Start Our Services */
    .our-services-sec {
        padding: 200px 0 180px 0;
    }

    .our-service-heading p {
        margin-top: 10px;
    }

    .our-services-cards {
        transform: translate(-50%, 40%);
    }

    .service-card {
        width: 280px;
        height: 220px;
    }

    .service-card p {
        padding: 12px 10px 0 10px;
    }

    /* end Our Services */
    /* footer start */
    .footer-sec {
        margin: 150px 0 0;
    }

    .footer {
        padding: 50px 50px 30px 50px;
    }

    .footer-cont-header h2 {
        margin: 30px 0 10px 0;
    }

    /* footer end */
}

@media only screen and (max-width: 1100px) {

    /* feature sec start */
    .card {
        padding: 5px 0px;
    }

    .features-cont img {
        width: 450px;
    }

    /* feature sec end */
    /* gojek service start */
    .gojek-service img {
        width: 235px;
    }

    /* gojek service end */
}

@media only screen and (max-width: 1024px) {

    /* navbar sec start */
    .nav-section {
        display: none;
    }

    .header .toggle-btn {
        display: block;
    }

    .dropdown-menu {
        display: block;
    }

    /* navbar sec end */
    .our-service-heading p {
        padding: 5px 139px;
    }

    .service-card {
        width: 250px;
        height: 200px;
    }

    .service-card .fas,
    .service-card .fa {
        font-size: 60px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 50px 80px;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        padding: 50px 0px 30px;
    }

    .footer-cont {
        width: auto;
        padding: 10px;
    }

    .f-logo img {
        width: 160px;
        margin-left: 45px;
    }
}

@media only screen and (max-width: 996px) {

    /* header sec start */
    .header {
        padding: 15px 0px 10px 0;
    }

    .col {
        width: 60%;
    }

    .col h2 {
        font-size: 35px;
    }

    /* header sec end */
    /* feature sec start */
    .features-heading h2 {
        font-size: 35px;
    }

    .features {
        padding: 20px 0;
    }

    .features-card {
        padding: 25px 0 25px;
    }

    .bg-green {
        height: 25px;
        width: 25px;
        padding: 18px;
    }

    .bg-green .fas {
        font-size: 25px;
    }

    .card h3 {
        font-size: 20px;
        margin: 14px 10px;
    }

    .card p {
        font-size: 15px;
    }

    .features-cont img {
        width: 335px;
    }

    .features-cont {
        padding: 15px;
    }

    .card:hover {
        transition: 0.5s;
        transform: translate(0, -20px);
    }

    /* feature sec end */
    /* Gojek-service-sec start */
    .Gojek-service-sec {
        margin-bottom: 25px;
    }

    .gojek-service {
        padding: 40px 0;
    }

    .gojek-service img {
        width: 180px;
    }

    .go-itmes-head {
        padding-left: 75px;
    }

    .go-itmes-head h2 {
        font-size: 33px;
    }

    .go-itmes-head h2 span {
        font-size: 28px;
    }

    .items {
        padding: 3px 0px 3px 50px;
    }

    .icon-sec {
        padding: 8px;
    }

    .icon {
        height: 50px;
        width: 50px;
    }

    .icon-sec h4 {
        font-size: 12px;
    }

    .icon .fas,
    .icon .fab {
        font-size: 23px;
    }

    /* Gojek-service-sec end */
    /* install gojek start */
    .install-header h2 {
        font-size: 35px;
        margin: 0;
    }

    .install-content {
        padding: 16px;
    }

    .head-cont p {
        font-size: 15px;
        padding: 5px 0;
    }

    .head-cont h3 {
        font-size: 25px;
        margin: 0;
        padding: 2px 0;
    }

    .settings {
        padding: 0px;
    }

    .set-col {
        padding: 2px 0;
    }

    .set-col-heading img {
        width: 24px;
    }

    .set-con {
        padding: 5px 18px 0px 5px;
    }

    .set-con h3 {
        font-size: 17px;
    }

    .set-con p {
        margin: 0;
        font-size: 15px;
        color: #3b4b51;
    }

    .install-gojek {
        padding: 6px 0;
    }

    /* install gojek end */
    /* our service start */
    .our-services-sec {
        padding: 125px 0 110px 0;
    }

    .our-service-heading h2 {
        font-size: 35px;
    }

    .our-service-heading p {
        padding: 5px 65px;
    }

    .service-card {
        width: 200px;
        height: 135px;
    }

    /* our service end */
    /* footer start */
    .footer-sec {
        margin: 95px 0 0;
    }

    .footer {
        padding: 15px 0px;
    }

    .f-logo img {
        width: 125px;
        margin-left: 0;
    }

    .footer-cont-header h2 {
        margin: 10px 0;
        font-size: 18px;
    }

    .footer-social-link ul li {
        padding: 3px 0;
    }

    .footer-social-link ul li a {
        font-size: 16px;
        padding: 0 5px;
    }

    .footer-social-link ul li p {
        font-size: 16px;
        padding: 0 5px;
        margin: 0;
    }

    .footer-social-link .fas,
    .footer-social-link .fa {
        font-size: 16px;
        padding-right: 0px;
    }

    .foot-bar {
        padding-top: 13px;
    }

    .foot-bar a {
        font-size: 18px;
    }

    .foot-bar strong {
        font-size: 18px;
    }

    /* footer end */
}

@media only screen and (max-width: 768px) {

    /* header start */
    .logo img {
        height: 55px;
    }

    .contant {
        padding: 0;
    }

    .col {
        width: auto;
    }

    .col p {
        font-size: 16px;
        padding: 5px 0;
    }

    .col img {
        padding: 10px 15px;
        height: 55px;
    }

    .col h2 {
        font-size: 30px;
        padding-right: 100px;
        word-spacing: 2px;
    }

    /* header end */
    /* feature start  */
    .features-heading h2 {
        font-size: 30px;
    }

    .features-card {
        padding: 35px 0;
        margin: 0;
    }

    .card {
        padding: 5px 0px;
        margin: 0 20px;
    }

    .card p {
        font-size: 15px;
    }

    .card h3 {
        font-size: 18px;
        margin: 10px 0px 4px;
    }

    .bg-green {
        height: 20px;
        width: 20px;
        padding: 13px;
    }

    .bg-green .fas {
        font-size: 20px;
    }

    .card:hover {
        transform: translate(0, -10px);
    }

    /* feature end */
    /* gojek-service start */
    .gojek-service img {
        width: 135px;
    }

    .go-itmes-head h2 {
        font-size: 28px;
    }

    .go-itmes-head h2 span {
        font-size: 25px;
    }

    .icon {
        height: 40px;
        width: 40px;
    }

    .icon .fas,
    .icon .fab {
        font-size: 19px;
    }

    .icon-sec {
        padding: 3px;
    }

    .gojek-service {
        padding: 40px 0;
    }

    /* gojek-service end */
    /* install gojek start */
    .install-content {
        padding: 16px 8px;
    }

    .head-cont h3 {
        font-size: 22px;
        margin: 0;
        padding: 2px 0;
    }

    .set-con h3 {
        font-size: 16px;
    }

    .set-col-heading img {
        width: 17px;
        padding: 2px 2px 2px 0;
    }

    /* install gojek end */
    /* our service sec start  */
    .our-services-sec {
        padding: 90px 0;
    }

    .our-service-heading h2 {
        font-size: 30px;
    }

    .our-service-heading p {
        padding: 5px 1px;
        margin-top: 0px;
    }

    .our-services-cards {
        transform: translate(-50%, 75%);
    }

    .service-card {
        width: 160px;
        height: 115px;
        margin: 0px 6px;
    }

    .service-card .fas,
    .service-card .fa {
        font-size: 42px;
    }

    .service-card p {
        padding: 12px 10px 0 10px;
        font-size: 16px;
    }

    /* our service sec end */
    /* footer start  */
    .footer-sec {
        margin: 80px 0 0;
    }

    .footer {
        padding: 15px 0px 10px;
    }

    .f-logo img {
        width: 115px;
        margin-left: 0;
    }

    .footer-cont {
        width: auto;
        padding: 5px;
    }

    .footer-cont-header h2 {
        margin: 16px 0 8px;
        font-size: 15px;
    }

    .foot-bar {
        padding: 7px;
    }

    /* footer end  */
}

@media only screen and (max-width: 570px) {
    .Container {
        padding: 0 15px;
    }

    .header {
        padding: 15px 0px 10px 0;
    }

    .contant {
        padding: 0;
    }

    .col h2 {
        font-size: 30px;
        word-spacing: 2px;
        padding: 0;
    }

    .col p {
        font-size: 16px;
        padding: 5px 0;
    }

    .features-card {
        padding: 10px 0;
        flex-direction: column;
        margin: auto;
    }

    .features-cont img {
        width: 280px;
    }

    .card {
        padding: 12px;
        margin: 0 60px;
    }

    .card p {
        font-size: 15px;
    }

    .go-itmes-head {
        padding-left: 5px;
    }

    .go-itmes-head h2 {
        font-size: 26px;
    }

    .go-itmes-head h2 span {
        font-size: 24px;
    }

    .go-itmes {
        padding: 20px 0;
    }

    .items {
        padding: 3px 0px 3px 0px;
    }

    .gojek-service img {
        width: 140px;
        transform: translate(-115%, -48%);
    }

    .install-content {
        padding: 10px 6px;
        flex-direction: column-reverse;
    }

    .install-col {
        padding: 0px;
        width: 100%;
    }

    .head-cont {
        text-align: center;
    }

    .our-services-sec {
        padding: 60px 0;
    }

    .our-services {
        position: relative;
        margin-top: 35px;
        padding: 0 10px;
    }

    .our-service-heading p {
        padding: 5px 1px;
        margin-top: 0px;
        font-size: 16px;
    }

    .our-services-cards {
        transform: translate(-50%, 105%);
        display: flex;
    }

    .service-card {
        width: 100px;
        height: 70px;
        margin: 0px 6px;
    }

    .service-card p {
        padding: 10px 10px 2px 10px;
        font-size: 10px;
    }

    .service-card .fas,
    .service-card .fa {
        font-size: 25px;
    }

    .footer-sec {
        margin: 40px 0 0;
    }

    .footer {
        padding: 15px 0px 10px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .footer-cont {
        padding: 0;
        text-align: center;
    }

    .f-logo img {
        width: 160px;
        margin-left: auto;
    }

    .footer-social-link ul li div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 360px) {
    .dropdown-menu{
        right: -7px;
    }
    .col h2 {
        font-size: 29px;
    }

    .card {
        margin: 0px 55px;
    }

    .gojek-service img {
        transform: translate(-105%, -48%);
    }

    .go-itmes-head {
        padding-left: 15px;
    }

    .items {
        padding: 3px 0px 3px 15px;
    }

    .go-itmes-head h2 {
        font-size: 25px;
    }

    .go-itmes-head h2 span {
        font-size: 20px;
    }

    .service-card {
        width: 90px;
        height: 65px;
    }

    .our-services-cards {
        transform: translate(-50%, 130%);
    }
}